html {
    font-family: Arial, sans-serif;
}

body {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
}

.platform-collapsible {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

.platform-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e60012;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.platform-title {
    font-weight: bold;
    font-size: 1.75em;
}

.platform-image-wrapper {
    position: relative;
    flex-shrink: 0;
}

.platform-image {
    display: block;
    height: 110px;
    width: auto;

    position: relative;
    top: -1px;
    margin-top: -10px;
}

@media (max-width: 600px) {
  .platform-header {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}

.platform-content-grid {
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.grid-item {
    width: 100%;
}

.grid-item-image-wrapper {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    }

    .grid-item-image-wrapper img {
        width: 100%;
        object-fit: cover;
        transition: transform .2s ease;
        cursor: pointer;
    }

    .grid-item-image-wrapper img:hover {
        transform: scale(1.05);
}

.project-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.25em;
    margin-bottom: 0px;
}

.project-title {
    color: white;
    margin: 0;
    flex: 1 1 auto;
    min-width: 0;
    margin-right: 0.25em;
}

.project-count-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 0 0 auto;
    color: rgb(187, 161, 17);
}

.count-icon {
    height: 1.25em;
    width: 1.25em;
}

.project-count {
    font-weight: bold;
    font-size: 1.25em;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    background: #1e1e1e;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

    .modal-content img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 15px;
    }

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .platform-content-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .platform-content-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .platform-content-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .platform-content-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}